$TTL 86400
@   IN  SOA     dns.{{ Local_FQDN }}. root.{{ Local_FQDN }}. (
2014112511  ;Serial
3600        ;Refresh
1800        ;Retry
604800      ;Expire
86400       ;Minimum TTL
)
;Name Server Information
@      IN  NS      dns.{{ Local_FQDN }}.
;IP address of Name Server
dns IN  A       {{ ClassC_LAN }}.62
;Mail exchanger
{{ Local_FQDN }}. IN  MX 10   mail.{{ Local_FQDN }}.
;A - Record HostName To Ip Address
foreman	IN A	    {{ ClassC_LAN }}.60	
sat6    IN  A       {{ ClassC_LAN }}.80
rhel7svr	IN	A	{{ ClassC_LAN }}.90
rhel5svr	IN	A	{{ ClassC_LAN }}.91
ansible4	IN	A	{{ ClassC_LAN }}.92
rh7wbsvr	IN	A	{{ ClassC_LAN }}.93
rhel8svr	IN	A	{{ ClassC_LAN }}.94	
idm4		IN	A	{{ ClassC_LAN }}.95	
centos8		IN	A	{{ ClassC_LAN }}.96
proxy		IN	A	{{ ClassC_LAN }}.97
;CNAME record
satellite     IN CNAME        sat6.{{ Local_FQDN }}
