$TTL 86400
@   IN  SOA     dns.{{ LAN.Net.Fwd }}. root.{{ LAN.Net.Fwd }}. (
2014112511  ;Serial
3600        ;Refresh
1800        ;Retry
604800      ;Expire
86400       ;Minimum TTL
)
;Name Server Information
@      IN  NS      dns.{{ LAN.Net.Fwd }}.
;IP address of Name Server
dns IN  A       {{ LAN.Net.Fwd }}.62
;Mail exchanger
{{ LAN.Net.Fwd }}. IN  MX 10   mail.{{ LAN.Net.Fwd }}.
;A - Record HostName To Ip Address
foreman	IN A	    {{ LAN.Net.Fwd }}.60	
sat6    IN  A       {{ LAN.Net.Fwd }}.80
rhel7svr	IN	A	{{ LAN.Net.Fwd }}.90
rhel5svr	IN	A	{{ LAN.Net.Fwd }}.91
ansible4	IN	A	{{ LAN.Net.Fwd }}.92
rh7wbsvr	IN	A	{{ LAN.Net.Fwd }}.93
rhel8svr	IN	A	{{ LAN.Net.Fwd }}.94	
idm4		IN	A	{{ LAN.Net.Fwd }}.95	
centos8		IN	A	{{ LAN.Net.Fwd }}.96
proxy		IN	A	{{ LAN.Net.Fwd }}.97
;CNAME record
satellite     IN CNAME        sat6.{{ LAN.Net.Fwd }}
