$TTL 86400
@   IN  SOA     dns.leandon.local. root.leandon.local. (
2014112511  ;Serial
3600        ;Refresh
1800        ;Retry
604800      ;Expire
86400       ;Minimum TTL
)
;Name Server Information
@ IN  NS      dns.leandon.local.
;Reverse lookup for Name Server
62        IN  PTR     dns.leandon.local.
;PTR Record IP address to HostName
60	IN	PTR	foreman.leandon.local
80	IN	PTR	sat6.leandon.local.
81	IN	PTR	sat64.leandon.local
90	IN	PTR	rhel7svr.leandon.local.
91	IN	PTR	rhel5svr.leandon.local.
92	IN	PTR	ansible4.leandon.local.
93	IN	PTR	rh7wbsvr.leandon.local.
94	IN	PTR	rhel8svr.leandon.local
95	IN	PTR	idm4.leandon.local
96	IN	PTR	centos8.leandon.local
97	IN	PTR	proxy.leandon.local
