$TTL 86400
@   IN  SOA     dns.{{ LAN.FQDN }}. root.{{ LAN.FQDN }}. (
2014112511  ;Serial
3600        ;Refresh
1800        ;Retry
604800      ;Expire
86400       ;Minimum TTL
)
;Name Server Information
@ IN  NS      dns.{{ LAN.FQDN }}.
;Reverse lookup for Name Server
62        IN  PTR     dns.{{ LAN.FQDN }}.
;PTR Record IP address to HostName
60	IN	PTR	foreman.{{ LAN.FQDN }}
80	IN	PTR	sat6.{{ LAN.FQDN }}.
81	IN	PTR	sat64.{{ LAN.FQDN }}
90	IN	PTR	rhel7svr.{{ LAN.FQDN }}.
91	IN	PTR	rhel5svr.{{ LAN.FQDN }}.
92	IN	PTR	ansible4.{{ LAN.FQDN }}.
93	IN	PTR	rh7wbsvr.{{ LAN.FQDN }}.
94	IN	PTR	rhel8svr.{{ LAN.FQDN }}
95	IN	PTR	idm4.{{ LAN.FQDN }}
96	IN	PTR	centos8.{{ LAN.FQDN }}
97	IN	PTR	proxy.{{ LAN.FQDN }}
